:root {
    --color-primary: #123456;
    --color-secondary: white;
    --azul-royal: #144480;
    --fundo-card-timer: #4A6BF0;
    --lils: #B872FF;
    --linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);
    --azul-profundo: #01080E;
    --fundo-card: rgba(255, 255, 255, 0.50);
    --fundo-card-concludo: rgba(0, 244, 191, 0.40);
}

[data-contexto="foco"] {
    --main-bg-color: #F8F8F8;
}

[data-contexto="descanso-curto"] {
    --main-bg-color:#F8F8F8;
}

[data-contexto="descanso-longo"] {
    --main-bg-color:#F8F8F8;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.app__header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    gap: 10rem;
    color: rgba(0, 0, 0, 0.30);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn {
    border-radius: 41px;
    background: #E6E520;
    padding: 20px;
    color: #000;
    font-weight: 500;
}

.app__logo-figure {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    width: 12rem;
}

.app__section-banner-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.app__title {
    font-size: 5.2rem;
    font-style: normal;
    color: black;
    max-width: 46rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 100%; /* 72.32px */
    text-transform: lowercase;
}

.app__title-strong {
    background: linear-gradient(270deg, #E6E520 17.71%, #1875E9 88.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app__section-card-container {
    display: flex;
    justify-content: center;
}

.app__card {
    border-radius: 3.2rem;
    background: var(--fundo-card-timer);
    padding: 2.4rem;
    margin: 8rem 0;
    width: 59rem;
    max-width: 90%;
}

.app__card-list {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.app__card-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: none;
    padding: 0.8rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
}

.app__card-button.active {
    border-radius: 5rem;
    background: #3D5CD9;
    font-weight: 500;
}

.app__card-timer {
    color: var(--color-secondary);
    text-align: center;
    font-size: 12rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.app__card-list-label {
    color: var(--color-secondary);
    font-size: 1.8rem;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__card-primary-button {
    padding: 2rem;
    width: 15rem;
    height: 5rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
    text-transform: lowercase;

    font-family: 'Poppins', sans-serif;
    border-radius: 5rem;
    background: #3D5CD9;
    margin-top: 3.2rem;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 6rem;
    justify-content: center;
    align-items: center;
}

.app__footer-text {
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #3D5CD9;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: white;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #000000;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* fim - toggle */

/* dropdown */
.dropdown-container {
    position: relative;
}

.app__section-task-header__ul {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    min-width: 24rem;
    padding: 1.6rem;
}

.app__section-task-header__ul:hover,
.app_button-more:hover ~ .app__section-task-header__ul {
    display: block;
    text-align: right;
    border-radius: 0.8rem;
    background: black;
}

.app__section-task-header__li {
    margin: 1.6rem 0;
}

.app__section-task-header__li__button {
    width: 100%;
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 0.8rem;
}

/* fim - dropdown */


/* Para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .app__section-banner-container {
        width: 48rem;
    }
}

/* Para Celulares */
@media (max-width: 767px) {
    
    .app__header {
        padding: 0;
        margin: 0;
        align-items: center;
        gap: 1rem;
        font-size: 0.8rem;
    }

    .btn {
        padding: 10px;
    }

    .app__section-banner-container {
        width: 32rem;
    }
 
    .app__title {
        font-size: 2.6rem;
    }

    .app__card-timer {
        font-size: 6rem;
    }

    .app__section-active-task {
        gap: 2rem;
    }
}

.hidden {
    display: none;
}


.app__section-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app__section-task-content {
    width: 59rem;
    max-width: 90%;
    color: black;
}

.app__section-active-task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 4rem 0;
    border-bottom: 1px solid black;
    margin-bottom: 4rem;
}

.app__form-textarea,
.app__form-textarea::placeholder {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

.app__section-active-task-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.app__section-tasks-heading {
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.app__section-task-header {
    display: flex;
    justify-content: space-between;
}

.app_button-edit,
.app_button-more {
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.app__section-active-task-label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.app__section-task-list {
    margin-top: 2.4rem;
    margin-bottom: 4rem;
}

.app__section-task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.8rem;
    background: #4A6BF0;
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    box-sizing: border-box;
    cursor: pointer;
}

.app__section-task-list-item-description {
    flex-grow: 1;
    margin: 0;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.app__section-task-list-item-complete.app__section-task-list-item {
    background: #5998A9;
    cursor: inherit;
}

.app__section-task-list-item-active.app__section-task-list-item {
    border: 2px solid #3D5CD9;
}

.app__section-task-list-item-complete .app__section-task-icon-status circle {
    fill: #FFF;
    opacity: 0.1;
}

.app__form-add-task {
    padding: 1.6rem;
    border-radius: 0.8rem;
    background: #E6E520;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    font-family: 'Poppins', sans-serif;
}

.app__form-label {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: block;
    margin-bottom: 3.2rem;
}

.app__form-textarea {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background: #C5C417;
}

.app__form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

.app__form-footer .splitter {
    flex-grow: 1;
}

.app__form-footer__button {
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    gap: 0.8rem;
}

.app__form-footer__button--confirm {
    border-radius: 3.2rem;
    padding: 0.8rem 2.4rem;
    color: #fff;
    background: black;
}

.app__button--add-task {
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #1875E9;
    border-radius: 3.2rem;
    border: 0.2rem solid #1875E9;
    width: 100%;
    margin-top: 4rem;
    padding: 1.8rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.app_button-edit:disabled {
    color: #e6e6e6;
    opacity: 0.8;
    cursor: not-allowed;
}